.vegfood-box {
  background-color: #d6cda4;
  max-width: 565px;
  padding: 6rem;
}

.login-input{
  border-radius: 20px;
}

.login-section {
  margin-top: 10rem;
  margin-bottom: 10rem !important;
}

#continue-btn {
  background-color: #7fb77e;
}

#continue-btn:hover {
  background-color: #65b769;
}

.eating {
  max-width: 550px;
  /* height: 368px; */
}

.veg-green {
  color: #334932;
}

@media (max-width: 768px) {
  .vegfood-box {
    padding: 2rem;
  }
}

.forgot-password-link {
  font-weight: 700;
  font-size: 16px;
  color: #3D8361;
}
