#welcome {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  background-image: url("veggies.jpg");
  box-shadow: inset 0 0 0 2000px #7fb77e6d;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#message {
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 750px;
}

.section-title {
  color: #1c6758;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 35px;
}

