.card {
  background-color: #d6cda4;
  color: #334932;
  padding: 18px 18px 18px 18px;
  text-align: left;
  border-radius: 10px;
  max-width: 230px;
}

.card:hover {
  background-color: #cec391;
}

.image {
  margin: 5px 5px 5px 5px;
}

.txt_larger {
  font-size: 1.3rem;
}

.txt_smaller {
  font-size: 1rem;
}