#nav-vegfood {
  background-color: #1c6758;
  height: 79px;
}

#cart-icon {
  color: #fff;
  font-size: 38px;
}

#cart-btn {
  height: 38px;
}

#search-field {
  width: 100%;
}

#search-item {
  width: 100%;
}

#login-btn {
  background-color: #7fb77e;
}

#login-btn:hover {
  background-color: #65b769;
}

.desktop-select {
  background-color: #1c6758;
}

.navbar-item img {
  max-height: 58px;
  width: 188.76px;
}

.navbar-brand {
  height: 100%;
}

.navbar-burger {
  height: 100%;
  color: #fff;
}
.navbar-burger:hover {
  color: #fff;
}

a.navbar-item .icon {
  margin-right: 5px;
}

.highlight-on-hover:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.input {
  border-radius: 20px;
}
